{% extends 'base.html.twig' %}

{# Don't display navbar on Index page. Index page has it's owner header & shit #}
{% block navbar %}{% endblock %}

{% block body %}

    <div class="home-area parallax">
        <div class="container">

        <div class="video-overlay"> </div>  

            <div class="top-bar">
                <div class="row">
                    <div class="col-md-6 col-sm-6 mobile-center">
                        <div class="logo"><a href="#"><img src="images/followuply.png" alt="logo" /></a></div>
                    </div>
                    <div class="col-md-6 col-sm-6 text-right mobile-center">
                        <a href="{{ url('fos_user_security_login') }}">Log In </a>

                        <a href="{{ url('fos_user_registration_register') }}"><i class="fa fa-bolt"></i> Sign Up!</a>

                    </div>

                </div>
            </div>

            <video autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>

            <source src="/video/a-working-man.webm" type="video/webm">
            <source src="/video/a-working-man.mp4" type="video/mp4">
            </video>



            <div class="home-more-area">
                <div class="row">
                    <!-- <div class="col-md-6 tab-center">
                        <img src="images/home.png" alt="home" />
                    </div> -->
                    <div class="col-md-12 text-center">
                        <div class="home-right">
                        <!-- <div class="featured-offer">
                                <div class="featured-offer-innr">
                                    <p>Starting at</p>
                                    <h3><span>$</span>3.99</h3>
                                    <p>/Month</p>
                                </div>
                            </div> -->
                            <!-- <h6>Stop Wasting Time Sending Manual Follow Up</h6>
                            <h2>Create Automated Follow Up</h2> -->

                            <h1> If user enters <span class="typewrite .typewrite1" data-period="2000" data-type='[ "Your Website" ]'> <span class="wrap wrap1"></span></span><br> but doesn't finish at 
                            <span class="typewrite typewrite2" data-period="1500" data-type='[ "Thank You Page" ]'><span class="wrap wrap2"></span></span><br>
                            send him email after 
                            <span class="typewrite typewrite3" data-period="1500" data-type='[ "5 Minutes" ]'><span class="wrap wrap3"></span></span></h1>

                            <!-- <h5>vps//Easy//reseller//cloud </h5> -->
                            <ul>
                                <li><a href="" class="button orange more-feature">More Features</a></li>
                                <li><a href="" class="button green go-form">Get Started Now!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="features-area">
        <div class="container">
            <div class="features-area-box-outer">
                <div class="features-area-box">
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature">
                                <img src="images/joinus2.png" alt="features" />
                                <h6>CATCH</h6>
                                <div class="fetu-line"></div>
                                <p>Around 99% of users are leaving your website without buying anything. Followuply catches their email and help you get them back</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature">
                                <img src="images/joinus3.png" alt="features" />
                                <h6>ENGAGE</h6>
                                <div class="fetu-line"></div>
                                <p>You just need to setup email scenario where Followuply sends beautiful and engaging emails to every user who 'forgot' to buy.</p>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-feature">
                                <img src="images/joinus1.png" alt="features" />
                                <h6>CONVERT</h6>
                                <div class="fetu-line"></div>
                                <p>Most users are ready to buy, but they simply don't react immediately. Followuply instantly gets them back on the track to conversion.</p>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="more-features-area" id="more-feature">
        <div class="container">
            <div class="section-head">
                <div class="row text-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h3>Hoster’s More Features</h3>
                        <p>Benefit from maximum availability, the best performance, and professional customer service. Allow us the opportunity to exceed your expectations.</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-more-features">
                        <img src="images/features-icon/small/1.png" alt="features" />
                        <h6>Integration</h6>
                        <p>Followuply is very easy to integrate, you just have to paste lightweight JavaScript snippet or install Wordpress plugin and you are ready to use. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-more-features">
                        <img src="images/features-icon/small/2.png" alt="features" />
                        <h6>Automated</h6>
                        <p>Once you create follow up scenario Followuply automatically sends email to every user who met the condition you have previously setup. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-more-features">
                        <img src="images/features-icon/small/3.png" alt="features" />
                        <h6>Conditions</h6>
                        <p>In simple terms - if user landed on website, but didn't go trough to the 'Thank you' page after the purchase, send him email after 5 minutes.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-more-features">
                        <img src="images/features-icon/small/4.png" alt="features" />
                        <h6>Analytics</h6>
                        <p>You can check how screnario is performing at any time. Open rate, click trough rate and conversions are just some of the metrics.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-more-features">
                        <img src="images/features-icon/small/5.png" alt="features" />
                        <h6>Templates</h6>
                        <p>You have a few beautifully designed email templates at your disposal. There is also an option to create new or customize existing templates.s</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-more-features">
                        <img src="images/features-icon/small/6.png" alt="features" />
                        <h6>Spam Free</h6>
                        <p>Followuply send emails using latest technology and delivers them directly to the inbox. It's nice to bypass thoose nasty spam filters for a change.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cta-area parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <div class="cta-offer">
                        <!-- <img src="images/offer.png" alt="offer" /> -->
                        <div class="offer-pos">
                            <div class="offer">
                                <div class="offer-innr">
                                    <p>We Are</p>
                                    <h3>Free!</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-7">
                    <h5>Improve Conversion Rate Up To</h5>
                    <h1>37% on Average!</h1>
                    <h5>With Just One Scenario</h5>
                </div>
                <div class="col-md-3 mobile-center">
                    <a href="#" class="button green">Start Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pricing-area">
        <div class="container">
            <div class="section-head">
                <div class="row text-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h3>Shared Hosting Plans</h3>
                        <p>When building a website, start here. Our shared service delivers a powerful, proven platform that's perfect for hosting your websites</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-pricing">
                        <div class="top-outer">
                            <div class="top red">
                                <img src="images/plan-icon.png" alt="plan" />
                                <h4>Standard</h4>
                            </div>
                        </div>
                        <div class="bottom text-center red-color">
                            <h2><span>$</span>3.99 <small>/Month</small></h2>
                            <div class="price-line"></div>
                            <ul>
                                <li><strong>1GB</strong> Space</li>
                                <li><strong>256 MB</strong> Memory</li>
                                <li><strong>24/7</strong> Full Support</li>
                                <li><strong>Free</strong> Domain Name</li>
                                <li><strong>1 FTP</strong> Account</li>
                            </ul>
                            <a href="#" class="button black red">Start Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-pricing">
                        <div class="top-outer">
                            <div class="top dark-blue">
                                <img src="images/plan-icon.png" alt="plan" />
                                <h4>Premium</h4>
                            </div>
                        </div>
                        <div class="bottom text-center dark-blue-color">
                            <h2><span>$</span>5.99 <small>/Month</small></h2>
                            <div class="price-line"></div>
                            <ul>
                                <li><strong>1GB</strong> Space</li>
                                <li><strong>256 MB</strong> Memory</li>
                                <li><strong>24/7</strong> Full Support</li>
                                <li><strong>Free</strong> Domain Name</li>
                                <li><strong>1 FTP</strong> Account</li>
                            </ul>
                            <a href="#" class="button black dark-blue">Start Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-pricing">
                        <div class="top-outer">
                            <div class="top blue">
                                <img src="images/plan-icon.png" alt="plan" />
                                <h4>Unlimited</h4>
                            </div>
                        </div>
                        <div class="bottom text-center blue-color">
                            <h2><span>$</span>8.99 <small>/Month</small></h2>
                            <div class="price-line"></div>
                            <ul>
                                <li><strong>1GB</strong> Space</li>
                                <li><strong>256 MB</strong> Memory</li>
                                <li><strong>24/7</strong> Full Support</li>
                                <li><strong>Free</strong> Domain Name</li>
                                <li><strong>1 FTP</strong> Account</li>
                            </ul>
                            <a href="#" class="button black blue">Start Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>

    <div class="testimonial-area">
        <div class="container">
            <div class="section-head">
                <div class="row text-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h3>What They Say About Hoster</h3>
                        <p>Read what our clients have to say. All testimonials are unsolicited, however some have been edited for clarity and/or length</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <div class="testimonial-innr parallax">
            <div class="container">
                <div id="owl-example" class="owl-carousel testimonials">
                    <div class="single-testimonial">
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="client-img">
                                    <img src="images/testimonial/1.jpg" alt="testimonial" />
                                </div>
                                <img src="images/quote.png" alt="" class="quote" />
                                <blockquote>Mauris eu consectetur libero, sit amet eleifend quam. Nunc ac lorem nec augue aliquam elementum ac velturpis.Mauris eu consectetur libero, sit  Mauris eu consectetur libero, sit amet eleifend quam. Nunc ac lorem nec augue aliquam elemen set emut it ret that forse.</blockquote>
                                <h5>ROGER T. JHON -  <small>Tisto Marketing</small></h5>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="row text-center">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="client-img">
                                    <img src="images/testimonial/1.jpg" alt="testimonial" />
                                </div>
                                <img src="images/quote.png" alt="" class="quote" />
                                <blockquote>Mauris eu consectetur libero, sit amet eleifend quam. Nunc ac lorem nec augue aliquam elementum ac velturpis.Mauris eu consectetur libero, sit  Mauris eu consectetur libero, sit amet eleifend quam. Nunc ac lorem nec augue aliquam elemen set emut it ret that forse.</blockquote>
                                <h5>ROGER T. JHON -  <small>Tisto Marketing</small></h5>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-area" id="form-area">
        <div class="container">
            <div class="form-area-box-outer">
                <div class="form-area-box">
                    <div class="section-head">
                        <div class="row text-center">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h3>Get Started Today!</h3>
                                <p>You may contact us for any kindly of query regarding web hosting or domain we will deal you and welcome you on priority.</p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-2"></div>
                        <div class="col-md-6 col-sm-8">
                            <div class="form">
                                <form action="sendmail.php" id="contactform" class="contact-form text-center" role="form">
                                    <!-- IF MAIL SENT SUCCESSFULLY -->
                                    <h6 class="success">
                                        <span class="olored-text icon_check"></span> Your message has been sent successfully.</h6>

                                    <!-- IF MAIL SENDING UNSUCCESSFULL -->
                                    <h6 class="error">
                                        <span class="colored-text icon_error-circle_alt"></span> E-mail must be valid.</h6>
                                    <input id="cf-name" type="text" name="cf-name" placeholder="Your Name">
                                    <input id="cf-email" type="email" name="cf-email" placeholder="Your Email">
                                    <input id="cf-phone" type="text" name="cf-phone" placeholder="Your phone">
                                    <input type="submit" class="button red" value="Call Me Now !" id="submit" name="submit" data-style="expand-left"/>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-2"></div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <p>We Accept</p>
                            <ul class="payment-methods">
                                <li><img src="images/payment/1.png" alt="payment method" /></li>
                                <li><img src="images/payment/2.png" alt="payment method" /></li>
                                <li><img src="images/payment/3.png" alt="payment method" /></li>
                                <li><img src="images/payment/4.png" alt="payment method" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clients-area">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <ul>
                        <li><img src="images/client/1.png" alt="client" /></li>
                        <li><img src="images/client/2.png" alt="client" /></li>
                        <li><img src="images/client/3.png" alt="client" /></li>
                        <li><img src="images/client/4.png" alt="client" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-info-area parallax">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img src="images/marker.png" alt="marker" />
                    <h6>Get in Touch with us</h6>
                    <p>Envato PO Box 21177 nLittle Lonsdale St, <br /> Melbourne nVictoria 8011 <br />  AustralianABN 11 119 159 741 </p>
                    <ul class="social-buttons">
                        <!-- Facebook -->
                        <li><iframe src="http://www.facebook.com/plugins/like.php?href=http://www.facebook.com/BestPixels&amp;layout=button_count&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;" ></iframe></li>
                        <!-- Twitter -->
                        <li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a></li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

{% endblock %}

